body {
    background: url(..//css/assets/Aachener_Wald_-_geo.hlipp.de_-_5415.jpg) ;
    background-size: 100%;
    background-repeat: no-repeat;
}
main {
    width: 1000px;
    min-height: 833px;
    background-color: darkcyan;
    position: relative;
    margin: 30px auto;
}
header.principal {
    position: relative;
    width: 100%;
    height: 200%;
    border-bottom: 5px solid #000;
    background-color: #fff;
}
header.principal div.logo {
    position: relative;
    width: 250px;
    height: 139;
    top: 24px;
    left: 24px;
    background-image: url(..//css/assets/happiness-news.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}
header.principal h1 {
    position: relative;
    top: 10px;
    left: 350;
    font-size: 45px;
    text-align: center;
}
nav.nav horizontal {
    border-bottom: 5px solid #000;
    background-color: rgb(192, 182, 158);
}
nav.nav horizontal ul{
    position: absolute;
    border:  0px;
    padding: 0px;
    margin: 0px;
}
nav.nav horizontal li{
    position: relative;
    border: 0px;
    margin: 0px;
    padding: 0px;
    list-style: none;
    display: inline-block;
    vertical-align: top;
}
nav.nav horizontal li a{
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    color: rgb(18, 22, 22);
    font-weight: bold;
    
}
nav.nav horizontal li a:hove{
     background-color: khaki;
}
nav.nav horizontal a:active{
    background-color: lightblue;
    color: lightgray;
}
#slideshow{
    position: relative;
    background-color: lime;
    border: 2px dotted #000;
    width: 700px;
    height: 250px;
    margin: 20px auto;
    top: 50px;
}
#slideshow button{
    background-color: maroon;
    width: 50px;
    height: 50px;
    border: 1px solid rgb(255, 17, 0);
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 100px;
}
button.prev{
    left: -25px;
}
button.next{
    right:-25px
}
#slideshow button:hover{
    background-color: blueviolet;
    color: cadetblue;
}
.col{
    display: inline-block;
    vertical-align: top;
    border: 1px solid #000;
    width: 328px;
    min-height: 300px;
    background-color: rgba(red, green, blue, alpha);
    position: relative;
    top: 100px;
}
.col header{
    text-align: center;
       
}
.col header img{
    width: 50px;
    height: 50px;
    border: 2px solid rgb(58,68,61);
    background-color: rgb(4, 18, 44);
    border-radius: 50%;
}
div.col{
    
    margin-top: 600px
}
p.textcentrado{
    text-align: center;
}
nav.nav horizontal{
    left: 200px;
}
#assets{
    border-radius: 2000px;
    
}
.first{
    position: absolute;
    margin-left: 130px;
    top: 545px;
}
.second{
  position: absolute;
  margin-left: 460px;  
  top: 545px;
}
.third{
  position: absolute;
  margin-left: 800px;
  top: 545px;
}
#boat{
    text-align: justify;
    text-align: center;
    font-size: 30px;
    padding-top: 90px;
    padding-left: 20px;
}
#sea{
    text-align: justify;
    text-align: center;
    font-size: 30px;
    padding-top: 90px;
    padding-left: 20px;
}
#fire{
    text-justify: inter-word;
    text-align: center;
    font-size: 30px;
    padding-top: 90px;
    padding-left: 20px;
}
.sd1{
    display: inline-block;
    position: relative;
}
#Home{
   position: relative;
   left: 290px;
   background-color: rgb(10, 10, 10);
   width: -200px;
   font-size: 30px;

}
#Magazine{
   position: relative;
   left: 400px;
   background-color: rgb(8, 8, 8);
   width: 120px;
   font-size: 30px;
}
#foot{
    font-size: 21px;
    text-align: center;
   position: relative;
   top: 100px; 
   border-top: 3px solid black;
   background-color:white;
}
